/node_modules
/src
/tsconfig.json
/.git
/.github
/.vscode
/test
/tests
/coverage
/.eslintrc
/.eslintignore
/.prettierrc
/.prettierignore
/.editorconfig
/.npmrc
/.yarnrc
/.travis.yml
/.circleci
/.idea
/.DS_Store